<?xml version='1.0' encoding='utf-8'?>
<widget id="org.fedxa.hepunitcalc" version="0.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HepUnitCalc</name>
    <description>
    Calculator with support of the natural High Energy Physics units.
  </description>
    <author email="Fedor.Bezrukov@gmail.com" href="http://www.hep.manchester.ac.uk/u/bezrukov">
    Fedor Bezrukov
  </author>
    <icon src="res/iconGeVruler_256.png" />
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
</widget>
