/* Thanks https://freshman.tech/css-grid-calculator/ for grid setup idea */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100%;
  background-color: #c0c0c0;
  /* Grid for display and keypad alignment */
  display: grid;
  grid-template-rows: 50px 40px 50px 1fr;
  padding: 10px;
}
@media screen 
and (min-width : 481px) { 
    .calculator { width: 360px;
		  height: 640px;}
    button:hover {
	background-color: #eaeaea;
    }
}

textarea#setter {
  left: -1000px;
  position: absolute;
}

.calculator-screen {
  min-width: 100%;
  max-width: 100%;
  font-size: 2.3rem;
  height: 40px;
  line-height: 40px;
  border: none;
  background-color: #252525;
  color: #7fff00;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}


.unit-screen {
  display: inline-block;
  min-width: 60%;
  max-width: 60%;
  font-size: 2rem;
  height: 30px;
  line-height: 30px;
  border: none;
  background-color: #252525;
  color: #7fff00;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.caret::after {
	content: "";
	border-right: 2px solid white;
	margin-left: -1px;
	margin-right: -1px;
}

button {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

.unitSelControl {
  grid-column-start: 4;
  grid-column-end: 6;
}

.btnUnitSel {
    width:100%;
    height:100%;
}

.unitSelDropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 300px;
  overflow: auto;
}

.unitSelDropdown div {
    font-size: 2rem;
}

/* Shift group buttons */
.shift0 { }
.shift1 { display: none }

.btnTop {
  color: white;
  background-color: #6f6f6f;
}

.btnNum {
  color: white;
  background-color: black;
}
.btnMath {
  color: white;
  background-color: #ff4561;
}
.btnOpps {
  color: white;
  background-color: #ff9933;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
/*  padding: 10px; */
/*  height: 70%; */
}
